
<style scoped>
  .item-img{
    width: 100%;
  }
  .q-toolbar-normal{
    min-height: 80px;
  }
</style>


<template>
  <div class="">
    
    <q-layout>

      <!-- optional -->
      <q-layout-header>
          <q-toolbar color="primary">
            <q-toolbar-title>
                <q-btn
                @click="left = !drawer"  flat round  dense  icon="menu"
              />
              AI Supermarket  
            </q-toolbar-title>
            <q-btn round small>
              <q-icon @click="find()"/>
            </q-btn>
            <q-btn round small @click="$refs.cartModal.open()">
              <q-icon name="shopping cart" />
              <q-chip v-show="cart.length" small floating color="negative">{{cart.length}}</q-chip>
            </q-btn>
          </q-toolbar>
      </q-layout-header>

      <q-layout-drawer side="left"  >
      </q-layout-drawer>

      <q-layout-drawer side="right">
      </q-layout-drawer>

      <!-- REQUIRED -->
      <q-page-container>

        <q-tabs align="center"   >
          <q-tab color="black" style=" box-shadow: 3px 4px 6px 2px #00000038;background:#efefef !important; border-radius: 10px;margin-bottom: 10px;" label="Items" default  slot="title" name="tab-1" icon="assignment" />
          
          <q-tab color="black" style=" box-shadow: 3px 4px 6px 2px #00000038; background:#efefef !important; border-radius: 10px;margin-left:5px;margin-bottom: 10px;" label="Orders" slot="title" name="tab-5" icon="shopping cart" />

          <!-- Targets -->
          <!----------------------Item List---------------------->
          <q-tab-pane name="tab-1">
            <div class="row">
              <div class="col-12">
                <center>
                  <!----------------------Button Add Product---------------------->
                    <q-btn @click="$refs.addProductModal.open()" small color="amber" class="">
                      Add Product 
                    </q-btn>
                </center>
              </div>
            </div>

            <div class="row">
                <div class="layout-padding row">
                  <q-card v-for="(product,i) in myProducts" :key="i" >
                    <q-card-title>
                      <b>{{product.productName}}</b>
                    </q-card-title>
                    <q-card-separator />
                    <q-card-main>
                      <img :src="product.imgUrl" class="item-img" />
                      
                    </q-card-main>
                    <q-card-actions>
                      <div class="col">
                        <b>Php {{product.productPrice}} </b>  
                        <q-btn @click="$refs.EditProductModal.open();productEditGetDetails (product._id)" class="pull-right" round color="info" small icon="edit"></q-btn>
                        <q-btn @click="removeProduct(product._id)" class="pull-right" round color="negative" small icon="delete"></q-btn>                  
                      </div>

                    </q-card-actions>
                  </q-card>
                </div>
            </div>
          </q-tab-pane>

          <q-tab-pane name="tab-5">
            <!----------------------Order List---------------------->
              <div class="layout-padding row">
                <div v-for="order in myOrders" :key="order._id" >
                 <div class="col-md-6">
                  <q-card >
                      <q-card-title @click="$refs.orderModal.open();orderDetails (order._id) ">
                        {{order.client}} 
                      </q-card-title>
                      <q-card-separator />
                      <q-card-main>
                    
                      </q-card-main>
                      <q-card-actions>
                        <div class="col">
                          <q-btn @click="patch(order._id)" class="pull-right" round color="info" small icon="edit"></q-btn>
                          <q-btn @click="removeOrder(order._id)" class="pull-right" round color="negative" small icon="delete"></q-btn>
                        </div>
                      </q-card-actions>
                  </q-card>
                 </div>
                </div>



               
              </div>
          </q-tab-pane>
        </q-tabs>

        <router-view />
        <!--
          First child of QPageContainer must be a QPage,
          so make sure that your layout route children components
          encapsulate a QPage.
        -->

      </q-page-container>

      <q-layout-footer>
        <br>
        <center>Developed by Alexies Iglesia</center>
      </q-layout-footer>
    </q-layout>
      <!----------------------Modal Cart---------------------->
        <q-modal ref="cartModal" minimized >
          <q-toolbar color="primary">
            <q-toolbar-title>
              Cart
            </q-toolbar-title>
            <q-btn @click="$refs.cartModal.close()" round small flat>
              <q-icon name="close" />
            </q-btn>
          </q-toolbar>
          <div class="layout-padding row">
            <div class="col">
              {{cart.length ? '': '--- No items found ---'}}
              <ul>
                <li v-for="(i, index) in cart" :key="index">
                  {{i.name}} - {{i.price}}Php
                  <q-btn @click="removeFromCart(index)" icon="delete" color="negative" round small flat />
                </li>
              </ul>
              <div class="col">
                <h5>Total: {{cartTotal}}</h5>
                <q-btn v-if="cart.length" @click="placeOrder" small color="amber" class="pull-right">
                  Place Order
                </q-btn>
              </div>
            </div>
            
          </div>
          
        </q-modal>

      <!----------------------Modal Add Product---------------------->
        <q-modal ref="addProductModal" minimized >
          <q-toolbar color="secondary">
            <q-toolbar-title>
              Add Product
            </q-toolbar-title>
            <q-btn @click="$refs.addProductModal.close();this.productName = ''" round small flat>
              <q-icon name="close" />
            </q-btn>
          </q-toolbar>
          <div class="layout-padding row">
            <div class="col">

              <q-input v-model="datProductName" placeholder="Name" />
              <q-input v-model="datProductPrice" placeholder="Price" />
              <q-input v-model="datProductImg" placeholder="Image Url" />
              <br>
              <q-btn  @click="addProduct()" rounded push color="secondary">Add Product</q-btn>
            </div>
            
          </div>
          
        </q-modal>
      <!----------------------Modal Edit Product---------------------->
        <q-modal ref="EditProductModal" minimized >
          <q-toolbar color="secondary">
            <q-toolbar-title>
              Edit Product
            </q-toolbar-title>
            <q-btn @click="$refs.EditProductModal.close()" round small flat>
              <q-icon name="close" />
            </q-btn>
          </q-toolbar>
          <div class="layout-padding row">
            <div class="col">

              <q-input v-model="datProductName" placeholder="Name" />
              <q-input v-model="datProductPrice" placeholder="Price" />
              <q-input v-model="datProductImg" placeholder="Image Url" />
              <br>

              <q-btn  @click="patchProduct (datTempId)" rounded push color="secondary">Edit Product</q-btn>
            </div>
            
          </div>
          
        </q-modal>
      <!----------------------Modal Order Details---------------------->
        <q-modal ref="orderModal" minimized >
          <q-toolbar color="primary">
            <q-toolbar-title>
              Client:   {{datOrderSummaryclient}} 
            </q-toolbar-title>
            <q-btn @click="$refs.orderModal.close()" round small flat>
              <q-icon name="close" />
            </q-btn>
          </q-toolbar>
          <div class="layout-padding row">
            <div class="col">
              <ul>
                <li v-for="(i, index) in datOrderSummaryItems" :key="index">
                  {{i.productName}} - {{i.productPrice}}Php
                  <q-btn @click="removeFromCart(index)" icon="delete" color="negative" round small flat />
                </li>
              </ul>
              <div class="col">
                <h5>Total: {{modalOrderTotal}}</h5>
            
              </div>
            </div>

          </div>
        </q-modal>

    
  </div>
</template>
<script>
import {Toast, QTabs, QPageContainer} from 'quasar'
export default {
  components: {QTabs, QPageContainer},
  mounted () {
    this.myOrders = this.$dbCon.services.orders.data
    this.$dbCon.services.orders.onDataChange(data => {
      this.myOrders = data
    })
    this.myProducts = this.$dbCon.services.products.data
    this.$dbCon.services.products.onDataChange(data => {
      this.myProducts = data
    })
  },
  data () {
    return {
      sides: {
        drawer: true
      },
      drawer: '',
      myProducts: [],
      myOrders: [],
      clientName: 'Juan dela Cruz',
      cart: [],
      datProductName: '',
      datProductPrice: '',
      datProductImg: '',
      datOrderSummaryItems: [],
      datOrderSummaryclient: '',
      datTempId: ''
    }
  },

  computed: {
    cartTotal () {
      let total = 0
      for (let item of this.cart) {
        total += +item.price
      }
      return total
    },
    modalOrderTotal () {
      let total = 0
      for (let item of this.datOrderSummaryItems) {
        total += +item.productPrice
      }
      return total
    }
  },
  methods: {
    pushToCart (i) {
      this.cart.push(i)
    },
    removeFromCart (i) {
      this.cart.splice(i, 1)
    },
    placeOrder () {
      let order = {
        client: this.clientName,
        items: this.cart
      }
      console.log(order)
      Toast.create.positive(` added to cart`)
      this.$dbCon.services.orders.create(order)
    },
    addProduct () {
      let product = {
        productName: this.datProductName,
        productPrice: this.datProductPrice,
        imgUrl: this.datProductImg
      }
      console.log(product)
      this.$dbCon.services.products.create(product)
      Toast.create.positive(`Product was added`)
      this.$refs.addProductModal.close()
      this.datProductName = ''
      this.datProductPrice = ''
      this.datProductImg = ''
    },
    patch (_id) {
      this.$dbCon.services.orders.patch(_id, {client: 'Juanita'})
    },
    removeOrder (_id) {
      this.$dbCon.services.orders.remove(_id)
    },
    patchProduct (_id) {
      this.$dbCon.services.products.patch(_id, {productName: this.datProductName})
      this.$dbCon.services.products.patch(_id, {productPrice: this.datProductPrice})
      this.$dbCon.services.products.patch(_id, {imgUrl: this.datProductImg})
      this.datProductName = ''
      this.datProductPrice = ''
      this.datProductImg = ''
      this.$refs.EditProductModal.close()
      Toast.create.positive(`Product was Edited`)
    },
    removeProduct (_id) {
      this.$dbCon.services.products.remove(_id)
    },
    find (_id) {
      this.$dbCon.services.orders.find({
        query: {
          client: 'Juanita'
        }
      }).then(result => {
        console.log(result)
      })
    },
    orderDetails (_id) {
      this.$dbCon.services.orders.get(_id, {
        query: {
          $select: [ 'items', 'client', '' ]
        }
      }).then(result => {
        console.log(result.items)
        this.datOrderSummaryItems = result.items
        this.datOrderSummaryclient = result.client
      })
    },
    productEditGetDetails (_id) {
      this.$dbCon.services.products.get(_id, {
        query: {
          $select: [ 'productName', 'productPrice', 'imgUrl', '_id' ]
        }
      }).then(result => {
        console.log(result.items)
        this.datProductName = result.productName
        this.datProductPrice = result.productPrice
        this.datProductImg = result.imgUrl
        this.datTempId = result._id
      })
    }
  }
}
</script>