<template>
  
  <div>

  </div>


</template>

<script>
export default {
  mounted () {
    this.myOrders = this.$dbCon.services.orders.data
    this.$dbCon.services.orders.onDataChange(data => {
      this.myOrders = data
    })
    this.myProducts = this.$dbCon.services.products.data
    this.$dbCon.services.products.onDataChange(data => {
      this.myProducts = data
    })
  }
}
</script>
