<template>
    <div class="container"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
        <div class="well">
          <h1 style="text-align:center">
              {{multiplied}}
          </h1>
        </div>

        <form action="/action_page.php">
          <div class="form-group">
            <label for="email">Num 1:</label>
           
            <input type="email" class="form-control" id="email"  v-model="num1">
          </div>
          <div class="form-group">
            <label for="pwd">Num 2</label>
            <input type="text" class="form-control" id="pwd" v-model="num2">
          </div>
 
          <button type="submit"  @click="multiply(num1,num2)" class="btn btn-default">Multiply</button>
        </form>
    </div>
</template>
<script>
  export default {
    data () {
      return {
        num1: 2,
        num2: 10,
        multiplied: 0
      }
    },
    computed: {
      answer () {
        // return parseFloat(this.num1) + parse(this.num2);
      }
    },
    methods: {
      multiply (num1, num2) {
        this.multiplied = parseFloat(this.num1) * parseFloat(this.num2)
        console.log(this.multiplied)
        alert(this.multiplied)
      }
    }
  }
</script>

<style scoped>
  .well{
    margin-top: 10vw;
  }
</style>


