
<template>
  <div class="row">
    <q-toolbar color="primary">
      <q-toolbar-title>
        Store ni Juan v100
      </q-toolbar-title>
      <q-btn round small>
        <q-icon name="add" />
      </q-btn>
      <q-btn round small @click="$refs.cartModal.open()">
        <q-icon name="shopping cart" />
        <q-chip v-show="cart.length" small floating color="negative">{{cart.length}}</q-chip>
      </q-btn>
    </q-toolbar>
    <div class="layout-padding row">
      <q-card v-for="(item, i) in items" :key="i" style="width: 200px;">
        <q-card-title>
          {{item.name}}
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          {{item.price}}
        </q-card-main>
        <q-card-actions>
          <div class="col">
            <q-btn @click="pushToCart(item)" class="pull-right" round color="secondary" small icon="add shopping cart"></q-btn>
          </div>
        </q-card-actions>
      </q-card>
    </div>
    <q-modal ref="cartModal" minimized>
      <h4>Cart</h4>
      <ul>
        <li v-for="i in cart" :key="i">{{i.name}}</li>
      </ul>
    </q-modal>
  </div>
</template>
<script>
export default {
  data () {
    return {
      items: [
        {
          name: 'Ice Cream',
          price: '500',
          imgSrc: 'quasar-logo-full.svg',
          styleObject: 'helloclass'
        },
        {
          name: 'Lollipop',
          price: '358.90'
        },
        {
          name: 'Red Horse',
          price: '1000'
        },
        {
          name: 'Red bull',
          price: '40'
        },
        {
          name: 'Cobra',
          price: '45'
        },
        {
          name: 'Shake',
          price: '358.90'
        }
      ],
      cart: []
    }
  },
  methods: {
    pushToCart (i) {
      this.cart.push(i)
      console.log('CART', this.cart)
    }
  }
}
</script>