
<template>
  <div class="row">
    <q-toolbar color="primary">
      <q-toolbar-title>
        Store ni Juan v100
      </q-toolbar-title>
      <q-btn round small>
        <q-icon @click="find()"/>
      </q-btn>
      <q-btn round small @click="$refs.cartModal.open()">
        <q-icon name="shopping cart" />
        <q-chip v-show="cart.length" small floating color="negative">{{cart.length}}</q-chip>
      </q-btn>
    </q-toolbar>
    <div class="layout-padding row">
      <q-card v-for="(product,i) in myProducts" :key="i" >
        <q-card-title>
          <b>{{product.productName}}</b>
        </q-card-title>
        <q-card-separator />
        <q-card-main>
          <img :src="product.imgUrl" class="item-img" />
          <br>
           
        </q-card-main>
        <q-card-actions>
          <div class="col">
            <b>Php {{product.productPrice}} </b> 
            <q-btn @click="pushToCart(product)" class="pull-right" round color="secondary" small icon="add shopping cart"></q-btn>
          </div>
        </q-card-actions>
      </q-card>
      
    </div>



    <q-modal ref="cartModal" minimized >
      <q-toolbar color="primary">
        <q-toolbar-title>
          Cart
        </q-toolbar-title>
        <q-btn @click="$refs.cartModal.close()" round small flat>
          <q-icon name="close" />
        </q-btn>
      </q-toolbar>
      <div class="layout-padding row">
        <div class="col">
         
          <ul>
            <li v-for="(i, index) in cart" :key="index">
              {{i.productName}} - {{i.productPrice}}Php
              <q-btn @click="removeFromCart(index)" icon="delete" color="negative" round small flat />
            </li>
          </ul>
          <div class="col">
            <h5>Total: {{cartTotal}}</h5>
            <q-btn  @click="placeOrder" small color="amber" class="pull-right">
              Place Order
            </q-btn>
          </div>
        </div>
        
      </div>
      
    </q-modal>


  </div>
</template>
<script>
import {Toast} from 'quasar'

export default {
  components: {},
  mounted () {
    this.myOrders = this.$dbCon.services.orders.data
    this.$dbCon.services.orders.onDataChange(data => {
      this.myOrders = data
    })
    this.myProducts = this.$dbCon.services.products.data
    this.$dbCon.services.products.onDataChange(data => {
      this.myProducts = data
    })
  },
  data () {
    return {
      myOrders: [],
      myProducts: [],
      clientName: 'Juan dela Cruz',
      cart: []
    }
  },
  computed: {
    cartTotal () {
      let total = 0
      for (let item of this.cart) {
        total += +item.productPrice
      }
      return total
    }
  },
  methods: {
    pushToCart (i) {
      Toast.create.positive(`${i.productName} - ${i.productPrice} added to cart`)
      this.cart.push(i)
    },
    removeFromCart (i) {
      this.cart.splice(i, 1)
    },
    placeOrder () {
      let order = {
        client: this.clientName,
        items: this.cart
      }
      console.log(order)
      this.$dbCon.services.orders.create(order)
      this.cart = []
      this.$refs.cartModal.close()
    },
    patch (_id) {
      this.$dbCon.services.orders.patch(_id, {client: 'Juanita'})
    },
    removeOrder (_id) {
      this.$dbCon.services.orders.remove(_id)
    },
    find (_id) {
      this.$dbCon.services.orders.find({
        query: {
          client: 'Juanita'
        }
      }).then(result => {
        console.log(result)
      })
    }
  }
}
</script>