<style>
  .box{
    background-color: red;
    width: 200px;
    height: 200px
  }

</style>

<template>

<div class="app_container" id="app_container">
  <div v-bind:class="boxClass" v-bind:style="styleObject">
    <p>Hello World</p>
  </div>

</div>

</template>

<script>
export default {
  data () {
    return {
      boxClass: 'box productItem'
    }
  }
}
</script>
